.idea/
__pycache__
logs
yolo11n.pt
project_assets
game/assets/ivan.png
game/logs/
.env
cloud_data\connectors\__pycache__
__init__.py
live_app/__pycache__
cloud_data/airflow_data/
cloud_data/responses.txt
model_output/

