.idea/
__pycache__
logs
training/acquisitions/
training/extracted_pngs
training/data_split
model_output
training/Fehlerkaftebilder/
training/alle_daten/
training/labelprufung/
training/realtest/
training/resultat/
training/alle_daten_alt/
training/resultat_bbox/
training/scaled_daten/
training/scr/__pycache__/
training/scr/__pycache__/augments.cpython-311.pyc
training/scr/__pycache__/losses.cpython-311.pyc
runs/
training/alternativ_daten/
training/images/
training/labels/
training/schrot
yolo11n.pt
training/csv.extrahieren.py
training/Todelete/
project_assets
game/assets/ivan.png
training/alternativ_daten_labeltest/
game/logs/
.env
cloud_data\connectors\__pycache__
__init__.py
live_app/__pycache__
cloud_data/airflow_data/data_game
cloud_data/airflow_data/
cloud_data/responses.txt

